:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;

  .query {
    margin-left: auto;
  }

  cdk-virtual-scroll-viewport, .video-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    //overflow-y: hidden;

    .video-item {
      display: flex;

      height: 50px;
      padding-bottom: 5px;
      width: 100%;
    }
  }
}
