<label class="query">
  Search video
  <input type="text" [formControl]="searchInput"/>
</label>

<cdk-virtual-scroll-viewport itemSize="50"  (scrolledIndexChange)="onItemScrolled()" >

    <div *cdkVirtualFor="let video of items" class="video-item">
      <ints-youtube-video *ngIf="video !== 'loading'; else loaderIndicator" [data]="video">
      </ints-youtube-video>
      <ng-template #loaderIndicator>
        <span>Loading...</span>
      </ng-template>
    </div>

</cdk-virtual-scroll-viewport>
